@font-face {
  font-family: "CustomHelvetica";
  src: url(Helvetica.ttf);
}

* {
  font-family: "CustomHelvetica", Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

#title {
  margin-left: 2em;
  margin-right: 29em;
  pointer-events: none;
}

.navbar {
  width: 100%;
  overflow: auto;

  background: rgba(255, 255, 255, 0.171);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid rgba(255, 255, 255, 0.23); */
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  color: #00bbff;
}

.active {
  background: #00bbff;
  border-radius: 16px;
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
