@font-face {
  font-family: "CustomHelvetica";
  src: url(Helvetica.ttf);
}

* {
  font-family: "CustomHelvetica", Arial, Helvetica, sans-serif;
}

#title {
  margin-left: 2em;
  margin-right: 29em;
  pointer-events: none;
}

/* Navbar Container */
.navbar {
  width: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.171);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

#title-section {
  text-align: left;
  white-space: nowrap;
  width: 250px; /* Adjust the width as needed */
}

#pages-section {
  text-align: center;
  white-space: nowrap;
}

#pages-section a {
  margin-right: 30px;
}

#login-profile-section {
  margin-right: 3%;
  text-align: right;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  color: #00bbff;
  /* transform: scale(1.06); */
}

.active {
  background: #00bbff;
  border-radius: 10px;
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
}
