@font-face {
  font-family: "CustomHelvetica";
  src: url(Helvetica.ttf);
}
#card_id {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 2px solid rgba(255, 255, 255, 1);
}
